@model ForgotPasswordVM

<div class="modal-header">
    <h5 class="modal-title text-info">@Model.PageTitle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form id="loginForm"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-begin="onBegin"
          data-ajax-url="/Account/_ForgotPassword"
          data-ajax-update="#main-modal-content"
          data-ajax-error="onError">
        @if (@Model.Error != null)
        {
            <div class="form-group row pl-2 pr-2">
                <label asp-for="Error" class=" control-label pl-2 text-danger">@Model.Error</label>
            </div>
        }
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group row pl-3 pr-3">
            <input asp-for="Email" class="form-control" placeholder="Please fill in your account Email address" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row pl-3 pr-3">
            <div class="col p-1">
                <input class="btn btn-block btn-info" type="submit" value="Submit" />
            </div>
            <div class="col p-1">
                <a href="#"
                   data-ajax="true"
                   data-ajax-method="get"
                   data-ajax-url="/Account/_LoginRegisterGet"
                   data-ajax-update="#main-modal-content"
                   data-ajax-error="onError"
                   class="btn btn-success w-100">Cancel</a>
            </div>
        </div>
    </form>
</div>