@model ResetPasswordVM

@{
    <partial name="_ValidationScriptsPartial" />
}

<div class="modal-header">
    <h5 class="modal-title text-info">Reset Password</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form 
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-begin="onBegin"
          data-ajax-url="/Account/_ResetPassword"
          data-ajax-update="#main-modal-content"
          data-ajax-error="onError">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (@Model.Error != null)
        {
            <div class="form-group row pl-2 pr-2">
                <label asp-for="Error" class=" control-label pl-2 text-danger">@Model.Error</label>
            </div>
        }
        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <div class="form-group row pl-3 pr-3">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group row pl-3 pr-3">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group row pl-3 pr-3">
            <input class="btn btn-block btn-success" type="submit" value="Reset" />
        </div>
    </form>
</div>
